@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Roboto+Condensed:400,700|Roboto+Mono&display=swap');
/*
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Noto Serif', serif;
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-family: 'Noto Serif', serif;
	font-size: 18px;
}

h1, h2 {
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .05em;
	margin: 1.5rem auto;
	text-align: center;	
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.25rem;
}

header {
	/* Adding margin to header to separate from the other elements */
	margin: auto;
	/*Aligning text to center of page*/
	text-align: center;
	/*Changing color of text to orange*/
	color: orange;
	/*Setting a 2 pixel solid border*/
	border: 2px solid;
	/*Changing the border color to orange to match text*/
	border-color: orange;
}

main { 
	/*Aligning Main to the left of elements ahead of it*/
	float: left;
	/*Setting the width of the element to take up 50% of the overall page width*/
	width: 50%;
	/*Setting the font size of the text to 20 pixels*/
	font-size: 20px;
	/*Setting a 2 pixel solid border*/
	border: 2px solid;
	/*Changing the border color to pink to match text*/
	border-color: pink;

	

}

p {
	line-height: 140%;
	margin-bottom: 1em;
}

#intro {
	font-size: 22px;
}

#automotive, #maritime, #medical, #physics, #myths {

}



#footer-container {
	/*Setting the margin to auto to properly set spacing between other elements*/
	margin: auto;
	/*Changing color to blue to match assignment requirements*/
	color: rgb(7, 7, 240);


}

#header-container h1{
	/*Changing text color to orange to match assignment requirements*/
	color: rgb(230, 133, 6);}

main h2 {
	/*Changing text color to pink to match assignment requirements*/
	color: pink;}


#main-container { 


}

nav { 
	/*Setting the width of the element to take up 25% of the overall page width*/
	width: 25%;
	/*Aligning the nav element to the left of the elements ahead of it*/
	float: left;
	/*Setting the font size to 18 pixels*/
	font-size: 18px;
	/*Setting a 2 pixel solid border*/
	border: 2px solid;
	/*Changing the border color to green*/
	border-color: green;


	

}

aside {
	/*Setting the width to take up 24% of the overall page width*/
	width: 24%;
	/*Alining the element to the left of the elements ahead of it*/
	float: left;
	/*Setting font size to 18 pixels*/
	font-size: 18px;
	/*Setting a 2 pixel solid border*/
	border: 2px solid;
	/*Changing the color of the border to match text*/
	border-color: rgb(154, 6, 6);


	


}

aside h2{
	/*Changing the color of the text to match border*/
	color: rgb(154, 6, 6); }

footer {
	/*Setting the margin to auto to properly set spacing between other elements*/
	margin: auto;
	/*Setting the text to be aligned in the center*/
	text-align: center;
	/*Setting the width to take up all the page's available width*/
	width: 100%;
	/*Setting a 50 pixel padding inside the element*/
	padding: 50px;
	/*Setting the text color to blue to match the border*/
	color: blue;
	/*Setting a 2 pixel solid border*/
	border: 2px solid;
	/*Setting the border color to blue to match text*/
	border-color: blue;
	/*Aligns the footer to the bottom of the page*/
	float: inline-end;
	/*Setting the font size to 18 pixels*/
	font-size: 18px;


}

