@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Roboto+Condensed:400,700|Roboto+Mono&display=swap');
/*
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Noto Serif', serif;
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-family: 'Noto Serif', serif;
	font-size: 18px;
}

h1, h2 {
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .05em;
	margin: 1.5rem auto;
	text-align: center;	
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.25rem;
}

header {
	margin: auto;
	text-align: center;
	padding: 0px;
	color: orange;
	border: 2px solid;
	border-color: orange;
}

main { float: left;
	width: 50%;
	height: 50%;
	font-size: 20px;
	position: relative;
	bottom:0px;
	border: 2px solid;
	border-color: pink;

	

}

p {
	line-height: 140%;
	margin-bottom: 1em;
}

#intro {
	font-size: 22px;
}

#automotive, #maritime, #medical, #physics, #myths {

}



#footer-container {
	margin: auto;
	color: rgb(7, 7, 240);


}

#header-container h1{color: rgb(230, 133, 6);}

main h2 {color: pink;}


#main-container { 


}

nav { width: 25%;
	float: left;
	font-size: 18px;
	border: 2px solid;
	border-color: green;


	

}

aside {width: 24%;
	float: left;
	font-size: 18px;
	border: 2px solid;
	border-color: rgb(154, 6, 6);


	


}

aside h2{color: rgb(154, 6, 6); }

footer {
	margin: auto;
	text-align: center;
	width: 100%;
	padding: 50px;
	color: blue;
	border: 2px solid;
	border-color: blue;
	float: inline-end;
	font-size: 18px;

}

